streamlit==1.52.2
pandas
numpy
matplotlib
seaborn
altair==6.0.0
vl-convert-python
wordcloud
pillow
python-pptx
python-docx
nltk
scikit-learn
sentence-transformers
transformers
torch
sentencepiece
tiktoken
